

img {
    width: 150px;
}

main {
    display: grid;
    gap: 10px;
    grid-template-columns: 300px 600px;
}

.block-2 {
    display: grid;
    gap: 10px;
    grid-template-columns: 50px 50px 50px;
}
